<div class="edit-notice">
<% if flash[:notice] %>
<p>
  <%= notice %>
</p>
<% end %>
</div>

<div class="edit-all">
<h1 class="edit-top">Editing Book</h1>
<%= form_with model:@book,local:true do |f| %>

<div class="edit-title">
<h4>Title</h4>
<p><%= f.text_field :title %></p>
</div>

<div class="edit-body">
<h4>Body</h4>
<%= f.text_area :body %><br>
</div>
<%= f.submit "Update Book" %>


<% end %>

<div class="edit-link">
<%= link_to "Show",book_path(@book) %>
<p> | </p>
<%= link_to "Back",books_path %>
</div>
</div>